<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.chav.poker"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".controller.calculator.OddsCalatorActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".controller.menu.StartScreenActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".controller.menu.QuizSelectionActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".controller.quiz.SpeedQuizActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".controller.cram.CramCardsUserActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".controller.menu.RegisterActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".controller.cram.CramCardsViewActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".controller.cram.CramCardCreateActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".controller.cram.CreateCramDeckActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".controller.cram.CramModeActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".controller.menu.LoginActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".controller.quiz.BasicQuizActivity"
            android:screenOrientation="sensorPortrait"/>


    </application>

</manifest>
