<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.chav.poker"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".controller.MainActivity"/>
        <activity android:name=".controller.CardSelectionActivity"/>
        <activity android:name=".controller.StartScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".controller.QuizSelectionActivity">
        </activity>
        <activity android:name=".controller.BasicQuizActivity">
        </activity>
        <activity android:name=".controller.CramCardsUserActivity">
        </activity>
        <activity android:name=".controller.RegisterActivity">
        </activity>
        <activity android:name=".controller.CramCardsViewActivity">
        </activity>
        <activity android:name=".controller.CramCardCreateActivity">
        </activity>
        <activity android:name=".controller.CreateCramDeckActivity">
        </activity>
    </application>

</manifest>
